.speech{
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: black;
}

.direction{
    font-size: medium;
    font-style: 12px;
    color: black;
    background-color: burlywood
    
}
.direction:hover{
    background-color: aliceblue;
    color: burlywood;
}

.name {
 font-family:Arial, Helvetica, sans-serif;
 color:green;
}
.mander:hover {
    text-shadow:6px 6px 6px rgd(234, 154,116);
    border:3px soild;
    cursor:pointer;
    background-color: aqua;

}
.Alving:hover {
    text-shadow:7px 7px 7px red(320,140,118);
    border:4px soild;
    cursor:pointer;
    background-color:aqua; 

}

.manders {
    color: blue;
}
.Aliving {
    color :blueviolet
}
td {
    border: 2px soild blue;
    text-align: center;
    padding:8px;
}
tr:nth-child(even){
    background-color:brown;
}
tr:nth-child(odd){
    background-color:green;
}

ul.horizontal-navbar a {
    width: 100px;
    background-color: bisque;
}
ul.horizontal-navbar li{
    display:inline;
    margin-right:30px;
}
ul.horizontal-navbar a {
    display: inline;
    text-decoration: none;
    color:black;
    font-weight:bold;
}

ul.horizontal-navbar a:hover{
    color:black;
}
   



